:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}



html,
body,
#root {
  height: 100%;
  margin: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn-gray{
  width: 10rem;
  padding: 1rem;
  background: #dddddd;
  border: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}



.editable {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: both;
  overflow: auto;
  outline: none;
  white-space: pre-wrap;  /* Retains textarea's line-breaking behavior */
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;      /* Optional: Adjust as needed */
  cursor: text;          /* Mimics textarea behavior */
}

/* Ensures that when it's empty, it still behaves as a textarea */
.editable:empty:before {
  content: attr(placeholder);
  color: #888;
  pointer-events: none;
}
